body{
  background-color: white;
  margin-right:5%;
  margin-left:5%;
}

.portion{
  /* width : 100%; */
  border: 4px dotted blue;
}
.menu{
  background-color: red;
}
.intro{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left{
  width : 50%;
  height: 100px;

  font-size: 40px;
  border-right: 1px solid black;

}
.blink{
  animation: blinker 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
}
@keyframes blinker { to { opacity: 0; } }
.right{
  width : 50%;
  height: 100px;
  /* border: 4px dotted yellow; */
}

.extra1{
  border: 1px solid black;
  border-radius: 25px;
  width: 100%;
  height : 250px;
  background-color: #eee3fc;
}

.work{
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  margin: 20px;
}
.work > div{
  margin: 20px;
}
.project{
  /* background-color: cyan; */
  font-family: cursive;
  font-weight:  bold;
  line-height: 250px;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  width: 100%;
  height : 250px;
}
