body{
  background-color: black;

  margin-right:  16%;
  margin-left:   16%;
  margin-top:    5%;

}

.container{
  /* height:100%;
  width: 100%; */
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  align-content:  center;
}
.box{
  
  width: 320px;
  margin: 4px;
  /* display: inline-flex; */
  /* text-align: center; */
  line-height: 320px;
  font-size: 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-size: 320px;
}
