@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
}

svg {
    display: block;
<<<<<<< Updated upstream
    font: 6.5em 'Montserrat';
=======
    font: 4.5em 'Montserrat';
>>>>>>> Stashed changes
    width: 960px;
    height: 400px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


.bodyy {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  width: 100%;
  /* flex-flow: column wrap; */
}
.bodyy > div{
  /* flex-flow: column wrap; */

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /* align-content:  center; */
}
.first{
  /* width: 250px; */
  color: white;
  border: 2px solid cyan;
  /* margin: 4px; */
  display: flex;
  flex-wrap: wrap;
  align-items:  flex-start;

  background-size: 320px;
  width :250px;
}
.middle{
  color: white;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  /* align-content:  center; */
  border: 2px solid white;
  background-size: 320px;
  width :75%;
  margin-right: auto ;
  margin-right: auto ;
}
.middle > div{
  /* flex-flow: column wrap; */

   margin: 0.5%;
   width: 320px;
   text-align: center;
   /* line-height: 75px; */
   font-size: 30px;
   line-height: 320px;
   background-size: 320px;
   /* display: inline-flex; */
   /* margin-right: 2% ; */

}
.last{
  /* width: 250px; */
  color: lightgreen;
  border: 2px solid cyan;
  /* margin: 4px; */
  display: flex;
  flex-wrap: wrap;
  /* line-height: 320px; */
  /* margin-left: auto ;
  margin-right: auto ; */
  background-size: 320px;
  width :150px;
}
